@font-face {
    font-family: "RF Dewi Expanded";
    src: url(RFDewiExtended-Bold.ttf);
}

body{
    margin: 0;
    padding: 0;
}
.promo{
    width: 1451px;
    height: 431px;
    background-color: #1a1a1a;
    margin: auto;
    position: relative;
}
.promo-content{
    padding-left: 90px;
    padding-top: 100px;
}
.back1{
    background-image: url(img/promo1.jpg) ;
    /* background-position: center; */
    background-size: cover;
    transform: scaleX(-1);
    width: 100%;
    height: 100%;
    position: absolute;
}
.back2{
    background-image: url(img/promo2.jpg) ;
    background-size: cover;
}